<h1>Update character</h1>

<% if flash[:error] %>
<%= flash[:error] %>
<% end %>


<%= form_for @character do |f| %>
<p><%= f.label :name, "Name" %></p>
<%= f.text_field :name %>

<p><%= f.label :job_id, "Class" %></p>
<%= f.collection_select(:job_id, @jobs, :id, :name) %>

<%= f.label :level, "Level" %>
<%= f.number_field :level %>

<%= f.label :strength, "Strength" %>
<%= f.number_field :strength %>

<%= f.label :dexterity, "Dexterity" %>
<%= f.number_field :dexterity %>

<%= f.label :constitution, "Constitution" %>
<%= f.number_field :constitution %>

<%= f.label :intelligence, "Intelligence" %>
<%= f.number_field :intelligence %>

<%= f.label :wisdom, "Wisdom" %>
<%= f.number_field :wisdom %>

<%= f.label :charisma, "Charisma" %>
<%= f.number_field :charisma %>

<%= f.label :hp, "hp" %>
<%= f.number_field :hp %>

<%# Should be calculated based on level %>
<%# <%= f.label :proficiency_bonus, "proficiency_bonus" %>
<%# <%= f.number_field :proficiency_bonus %> 

<%# Should be automatically calculated %>
<%# <%= f.label :passive_wisdom, "Passive Wisdom" %> 
<%# <%= f.number_field :passive_wisdom %>

<%= f.submit %>

<% end %>

<%# how to do character abilities and spells %>
<%# link to edit spells and abilities pages %>