<h1>Add character spells!</h1>

<% if @spells.empty? %>
    <p>This character's class doesn't have any spells!</p>
    <p><%= link_to  "View Character", character_path(@character) %></p>
<% else %>
    <%= form_for @char_spell do |f| %>
    <%= f.label :spell_id, "Spell" %>
    <%= f.collection_select(:spell_id, @spells, :id, :name) %>
    <%= f.submit nil, class: 'dd_button' %>
    <% end %>    
<% end %>
    