<h1>Add character spells!</h1>

<%= form_for @char_spell do |f| %>
<%= f.label :character_id, "Character" %>
<%= f.collection_select(:character_id, @characters, :id, :name) %>
<p></p>
<%= f.label :spell_id, "Spell" %>
<%= f.collection_select(:spell_id, @spells, :id, :name) %>
<%= f.submit %>
<% end %>