<p>
<% if session[:user] %>
<div class="dd_block">
  <h1><%= @greetings %>, <%= session[:user]["name"] %>!</h1>
  <%= button_to  "View All Your Characters", characters_path, method: :get, class: 'dd_button'  %>
</div>
<% else %>
  <h1>You are not logged in</h1>
  <img src='/assets/dd_homepage.png' class='center_img'>
<div class="center">
  <%= button_to "Log In", login_path, method: :get, class: 'dd_button' %>
  <p>
  <%= button_to "Create User", new_user_path, method: :get, class: 'dd_button' %>
</div>
<% end %>
