<div class="container">
    <h1 class="text-center"><%= @user.name %></h1>

    <% @user.characters.each do |character| %>
    <p><%= link_to  character.name, character_path(character) %></p>
    <% end %>

    <p><%= link_to  "All my characters", characters_path %></p>

    <p><%= link_to  "Create a new character", new_character_path %></p>

    <p><%= link_to  "Logout", '/logout', method: :post %></p>
</div>