<h1>Update character</h1>

<%= form_for @character do |f| %>
<p><b><%= f.label :name, "Name" %></b>
<%= f.text_field :name %>
</p>
<p><%= f.label :job_id, "Class" %>
<%= f.collection_select(:job_id, @jobs, :id, :name) %>

<%= f.label :level, "Level" %>
<%= f.number_field :level, in: 1..20, required: true %>

<%= f.label :hp, "HP" %>
<%= f.number_field :hp, in: 1..200, required: true  %>
</p>
<p>
<%= f.label :strength, "Strength" %>
<%= f.number_field :strength, in: 1..20, required: true  %>

<%= f.label :dexterity, "Dexterity" %>
<%= f.number_field :dexterity, in: 1..20, required: true  %>

<%= f.label :constitution, "Constitution" %>
<%= f.number_field :constitution, in: 1..20, required: true  %>

<%= f.label :intelligence, "Intelligence" %>
<%= f.number_field :intelligence, in: 1..20, required: true  %>

<%= f.label :wisdom, "Wisdom" %>
<%= f.number_field :wisdom, in: 1..20, required: true  %>

<%= f.label :charisma, "Charisma" %>
<%= f.number_field :charisma, in: 1..20, required: true  %>
</p>
<%= f.submit "Update Character Stats", class: 'dd_button'%>

<% end %>

<p><%= link_to  "Edit Abilites", edit_character_ability_path(@character) %></p>
<p><%= link_to  "Edit Spells", edit_character_spell_path(@character) %></p>