<% @num = @proficiency_choices["choose"].to_i %>
<h1>Choose <%= @num %> from: </h1> 

<%= form_for @character_ability do |f| %>
<%= f.label :user, "User" %>
<%= f.collection_select(:user_id, Users.all, :id, :name), include_blank: true %>

<%= f.label :ability_id, "Proficiency" %>
<%= f.check_box :ability_id %>

<%= f.collection_check_boxes :ability_id, @abilities, :id, :name do |m| %>
  <%= m.check_box %> <%= m.label %>
<% end %>

<%= f.submit %>
<% end %>
