<h1><p>Name: <%= @character.name %></p></h1>
<p>Class: <%= @character.job.name %></p>
<p>Level: <%= @character.level %> | HP: <%= @character.hp %></p>
<p></p>
<p>Strength: <%= @character.strength %></p>
<p>Dexterity: <%= @character.dexterity %></p>
<p>Constitution: <%= @character.constitution %></p>
<p>Intelligence: <%= @character.intelligence %></p>
<p>Wisdom: <%= @character.wisdom %></p>
<p>Charisma: <%= @character.charisma %></p>
<p></p>
<p>Proficiency Bonus: <%= @character.proficiency_bonus %></p>
<p></p>

<p> <%= button_to 'Edit Character Stats', edit_character_path(@character), method: :get %></p>

<% session[:coming_from_show] = true %>
<h2>Abilities</h2>
<% @character.abilities.each do |ability| %>
<% @char_abil = CharacterAbility.find_by(ability: ability, character: @character) %>
<p> <%= link_to  ability.name, character_ability_path(@char_abil) %> </p> 
<% end %>

<p><%= button_to 'Add Ability', new_character_ability_path, method: :get %></p>
<p><%= button_to 'Delete all abilities', delete_abilities_path, method: :delete %></p>

<h2>Spells</h2>
<% @character.spells.each do |spell| %>
<% @char_spell = CharacterSpell.find_by(spell: spell, character: @character) %>
<p> <%= link_to  spell.name, character_spell_path(@char_spell) %> </p> 
<% end %>

<p><%= button_to 'Add Spell', new_character_spell_path, method: :get %></p>
<p><%= button_to 'Delete all spells', delete_spells_path, method: :delete %></p>

<p><%= button_to 'View another character', characters_path, method: :get %></p>