<!DOCTYPE html>
<html>
  <head>
    <title>Dndcharactergeneration</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <body>
    <div class="navbar">
    <a href="/"><img src="assets/nav_logo.png"></a> 
    <p></p>
    </div>
    <%= yield %>
  </body>
</html>
